@import './variables';
@import './variables';
@import './bootstrap-grid.css';

* {
  font-family: 'PoppinsRegular';
}

.page {
  text-align: center;
  margin-bottom: 2rem;


    color: white;

}

legend {
  font-size: 11px !important;
}